/* General Styling */
button {
  all: unset;
  cursor: pointer;
  color: #2196f3;
  border-bottom: #2196f3 solid 1px;
  padding: 10px;
  font-size: large;
}

button:hover {
  color: #64b5f6;
  border-bottom: #64b5f6 solid 1px;
}

.text-input {
  width: 100%;
  padding: 10px;
  font-size: large;
  background-color: transparent;
  border: 0px;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.text-input-helper-message {
  color: #637383;
  margin-left: 5px;
}

.text-input-helper-message p {
  margin-top: 5px;
  font-size: small;
}

.text-input:focus {
  border-bottom: #64b5f6 solid 1px;
}

body {
  background-color: #fafbfb;
  color: #2c3e50;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 32px;
}

/* Header */

.header-title {
  background-color: #2c3e50;
  color: #e3f2fd;
  padding: 10px;
  position: sticky;
  top: 0;
  display: flex;
}

.header-title h1 {
  margin: 0px;
}

.begin-button {
  height: fit-content;
  margin-top: 35px;
  margin-left: 20px;
  color: #e3f2fd;
  border-bottom: #e3f2fd 1px solid;
}

.begin-button:hover {
  color: #f7fcff;
  border-bottom: #f7fcff 1px solid;
}

.header-motto {
  margin: 20px;
}

.header-subheaders {
  display: flex;
  color: #2196f3;
  flex-wrap: wrap;
  margin: 20px;
}

.header-subheaders h3 {
  margin: 0px 15px 0px 0px;
}

.header-questions {
  margin: 20px 50px 0px;
}

/* Question input */

.question-input {
  padding: 50px;
  justify-content: center;
  border-radius: 20px;
  margin: 100px auto 0px;
  width: 80%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.question-form {
  display: flex;
}

.question-input input {
  margin-right: 5px;
}

/* Add options and attributes */

.add-options,
.add-attributes,
.attributes-weights,
.weight-options {
  background-color: #e3f2fd;
  padding: 50px;
  justify-content: center;
  border-radius: 20px;
  margin: 100px auto 100px;
  width: 80%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.add-attribute-input,
.add-option-input {
  max-width: 80%;
  margin-right: 5px;
}

.next-button {
  display: block;
  margin: 10px 0px 10px auto;
}

.add-options-form,
.add-attributes-form {
  display: flex;
}

.options-list-and-add,
.attributes-list-and-add {
  width: 50%;
  margin: auto;
  background-color: #fafbfb;
  margin: 20px auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  min-height: 30vh;
}

.options-list-and-add:hover,
.attributes-list-and-add:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 10px 0px;
}

.choices-list {
  font-size: large;
}

.choice {
  padding: 5px 10px;
  border-bottom: #0d0d0e solid 1px;
  cursor: pointer;
}

/* Weight Attributes and Options */

.attributes-weights-list,
.options-weights-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.attributes-weights h2 {
  margin: 0px;
}

.attributes-weights h3 {
  margin: 0px;
}

.slider {
  min-width: 200px;
}

.attributes-weights-title-and-refresh,
.weight-options-title-and-refresh {
  display: flex;
  justify-content: space-between;
}

.weight-attribute,
.weight-option,
.winner-details {
  background-color: #fafbfb;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.weight-attribute:hover,
.weight-option:hover,
.winner-details:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 10px 0px;
}

.weight-attribute h3 {
  margin-bottom: 20px;
}

.weight-option h3 {
  font-size: x-large;
}

.weight-option h4 {
  font-size: medium;
  margin: 0px 0px 10px;
}

.attribute-slider h4 {
  margin-top: 10px;
}

/* Display Winner */

.winner-details {
  width: 50%;
  margin: 50px auto 20px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.reveal-winner-button {
  margin: 20px auto 0px;
  display: block;
  color: #2c3e50;
  font-size: x-large;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.reveal-winner-button:hover {
  color: #637383;
  background-color: white;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 20px 0px;
}

.winner-name {
  margin: 0px;
}

.reload-button {
  display: block;
  margin: 10px 0px 10px auto;
}

/* Phone size Settings */

@media only screen and (max-width: 600px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  /* Question input */

  .question-input {
    width: auto;
    padding: 50px 20px;
    justify-content: center;
    border-radius: 0px;
  }

  .question-form {
    display: block;
  }

  .question-input button {
    display: block;
    margin: 10px 0px 10px auto;
  }

  .question-input input {
    width: 95%;
  }

  /* Add options and attributes */
  .add-options,
  .add-attributes,
  .attributes-weights,
  .weight-options {
    padding: 20px 20px;
    margin: 50px 0px 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 29px 0px;
    border-radius: 0px;
    width: auto;
  }

  .add-attribute-input,
  .add-option-input {
    max-width: 95%;
    margin-right: 0px;
  }

  .add-button {
    display: block;
    margin: 10px 0px 10px auto;
  }

  .add-options-form,
  .add-attributes-form {
    display: block;
  }

  .options-list-and-add,
  .attributes-list-and-add {
    width: auto;
    margin: 0px;
    padding: 20px;
    min-height: 30vh;
  }

  .slider {
    min-width: 80vw;
  }

  /* Display Winner */
  .winner-details {
    width: auto;
    border-radius: 0px;
  }
}
