/* General Styling */
button {
  all: unset;
  cursor: pointer;
  color: #2196f3;
  border-bottom: #2196f3 solid 1px;
  padding: 10px;
  font-size: large;
}

button:hover {
  color: #64b5f6;
  border-bottom: #64b5f6 solid 1px;
}

.text-input {
  width: 100%;
  padding: 10px;
  font-size: large;
  background-color: transparent;
  border: 0px;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.text-input:focus {
  border-bottom: #64b5f6 solid 1px;
}

body {
  background-color: #fafbfb;
  color: #2c3e50;
  margin: 20px;
}

h1 {
  font-size: 64px;
  margin-bottom: 0px;
}

h2 {
  font-size: 32px;
}

/* Header */
.header-subheaders {
  display: flex;
  color: #2196f3;
  flex-wrap: wrap;
}

.header-subheaders h3 {
  margin: 0px 15px 0px 0px;
}

.header-questions {
  margin: 20px 50px 0px;
}

.begin-button {
  font-size: 32px;
  margin: auto;
}

/* Question input */

.question-input {
  padding: 50px;
  justify-content: center;
  border-radius: 20px;
  margin: 100px auto 0px;
  width: 80%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Add options and attributes */

.add-options,
.add-attributes,
.attributes-weights,
.weight-options {
  background-color: #e3f2fd;
  padding: 50px;
  justify-content: center;
  border-radius: 20px;
  margin: 100px auto 100px;
  width: 80%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.refresh-button {
  border-bottom: 0px;
  cursor: pointer;
  font-size: x-large;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 6px 5px 2px;
  border-radius: 40px;
  margin-left: 10px;
}

.refresh-button:hover {
  border-bottom: 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 10px 0px;
}

.next-button {
  display: block;
  margin: 10px 0px 10px auto;
}

.options-list-and-add,
.attributes-list-and-add {
  width: 50%;
  margin: auto;
  background-color: #fafbfb;
  margin: 20px auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  min-height: 30vh;
}

.choices-list {
  font-size: large;
}

.choices-list p {
  padding: 5px 10px;
  border-bottom: #0d0d0e solid 1px;
}

/* Weight Attributes and Options */

.attributes-weights-list,
.options-weights-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.attributes-weights h2 {
  margin: 0px;
}

.attributes-weights h3 {
  margin: 0px;
}

.slider {
  min-width: 200px;
}

.attributes-weights-title-and-refresh,
.weight-options-title-and-refresh {
  display: flex;
  justify-content: space-between;
}

.weight-attribute,
.weight-option,
.winner-details {
  background-color: #fafbfb;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.weight-attribute h3 {
  margin-bottom: 20px;
}

.weight-option h3 {
  font-size: x-large;
}

.weight-option h4 {
  font-size: medium;
  margin: 0px 0px 10px;
}

.attribute-slider h4 {
  margin-top: 10px;
}

/* Display Winner */

.winner-details {
  width: 50%;
  margin: 50px auto;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.reveal-winner-button {
  margin: 20px auto 0px;
  display: block;
  color: #9ccc65;
  border-bottom: #9ccc65 solid 1px;
  font-size: x-large;
}

.reveal-winner-button:hover {
  color: #c5e1a5;
  border-bottom: #c5e1a5 solid 1px;
}

.refresh-button {
  font-size: x-large;
  margin: 0px 0px 0px auto;
  display: block;
  padding: 0px;
}

.winner-name {
  margin: 0px;
}

.reload-button {
  display: block;
  margin: 10px 0px 10px auto;
}
