/* General Styling */
button {
  all: unset;
  cursor: pointer;
  color: #2196f3;
  border-bottom: #2196f3 solid 1px;
  padding: 10px;
  font-size: large;
}

button:hover {
  color: #64b5f6;
  border-bottom: #64b5f6 solid 1px;
}

.text-input {
  padding: 10px;
  font-size: large;
  background-color: transparent;
  border: 0px;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-bottom: #2196f3 solid 1px;
  border-radius: 0px;
}

.text-input:focus {
  border-bottom: #64b5f6 solid 1px;
}

body {
  background-color: #ecf0f1;
  color: #2c3e50;
  margin: 20px;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 32px;
}

/* Header */
.header-subheaders {
  display: flex;
  color: #2196f3;
}

.header-questions {
  margin: 0px 50px 0px;
}

.begin-button {
  font-size: 32px;
  margin: auto;
}

/* Add options */

.add-options {
  background-color: #e3f2fd;
  padding: 50px;
  justify-content: center;
  border-radius: 20px;
}
